@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&family=Montserrat:wght@600&display=swap");

.order-page-main-container {
  background: #e0e0e0;
}

.checkout-header {
  width: 100%;
  height: 10vh;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 0.3rem 0.6rem #5a5a5a;
  margin-bottom: 0.2rem;
}

.checkout-header > h1 {
  position: relative;
  cursor: pointer;
}

.checkout-order-hover-div {
  display: none;
  position: absolute;
  bottom: -2.5rem;
  right: 0;
  border-radius: 0.5rem;
  transition: all 0.5s;
  font-size: 1rem;
  background: white;
  padding: 0.5rem;
}

.checkout-header > h1:hover .checkout-order-hover-div {
  display: block;
  opacity: 0;
  animation: itemHoverDiv 0.5s ease-in-out 1 forwards;
}

.checkout-page-container {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  padding: 1rem 0.5rem;
}

.checkout-page-container > div {
  border-radius: 0.3rem;
}

.checkout-process-range {
  width: 10%;
  /* height: 29rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.squares-for-process-validation{
  width: 3.5rem;
  height: 3.5rem;
  background: #fff;
  transform: rotate(45deg);
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0rem 0.4rem #5a5a5a, -0.2rem -0.2rem 0.4rem #ffffff, 0rem 0.2rem 0.4rem #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-showing-range-between-squares{
  width: 1rem;
  height: 6rem;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.div-showing-range-between-squares>div{
  width: 100%;
  background: #fff;
  border-radius: 999rem;
  box-shadow: 0.2rem 0.2rem 0.4rem #5a5a5a, -0.2rem -0.2rem 0.4rem #ffffff;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#connect-squares-with-range{
  animation: fillingRange 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
}

#range-from-add-to-payment{
  height: 10rem;
}

#range-from-payment-to-confirmation{
  height: 6rem;
}

.h3-for-processing-square{
  transform: rotate(-45deg);
  color: #353535;
  transition: all 0.5s ease-in-out;
  animation: entranceAni 0.5s ease-in-out 1 forwards;
}

.checkout-process-panel {
  width: 55%;
}

.checkout-process-panel > div {
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.6rem #5a5a5a, -0.3rem -0.3rem 0.6rem #ffffff;
  background: #fff;
  transition: all 0.5s;
}

.checkout-address-container {
  position: relative;
}

.address-select-div-heading {
  position: absolute;
  top: 5%;
  left: 2%;
}

.address-select-div-heading > h3 {
  color: #353535;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

.address-content-div {
  margin-bottom: 2.5%;
}

.addresses-list-select-div {
  color: #000;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 3%;
}

.address-field-addresses {
  position: relative;
}

.address-check-button {
  position: absolute;
  left: 10rem;
  top: 2.5rem;
}

.select-address-input-field-radio {
  accent-color: #353535;
}

.checkout-payment-method-container {
  position: relative;
  /* height: 20vh; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.payment-select-div-heading {
  position: absolute;
  top: 5%;
  left: 2%;
}

.payment-select-div-heading > h3 {
  color: #353535;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

.payment-type-select-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45rem;
  margin: auto;
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
}

.payment-type-select-div > div {
  position: relative;
  width: 20rem;
  height: 2rem;
  border: 0.09rem solid #5a5a5a;
  filter: drop-shadow(0.5rem -0.5rem #5a5a5a);
  /* background: #5a5a5a; */
  border: 0.09rem solid #5a5a5a;
  cursor: pointer;
  transition: all 0.3s;
}

.payment-type-select-div > div > button {
  width: 5rem;
  height: 1rem;
  border: 0;
  background: #5a5a5a;
  color: #e0e0e0;
  position: absolute;
  left: 7.5rem;
  top: 0.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.payment-type-select-div > div:hover {
  filter: drop-shadow(0 0 white);
}

.payment-type-select-div > div:hover .select-payment-hover-effect {
  color: #5a5a5a;
  background: transparent;
  transition: all 0.1s;
}

#card-button-true {
  filter: drop-shadow(-0.5rem 0.5rem #5a5a5a);
  transition: all 0.1s;
}

#disabling-hover-effect-true {
  background: #5a5a5a;
  color: #e0e0e0;
}

.card-payment-div-container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
}

.card-showcase-div {
  position: relative;
  transform-style: preserve-3d;
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 320px;
  height: 190px;
}

.card-payment-div-container:hover .card-showcase-div {
  transform: rotateY(180deg);
}

.card-front-showcase {
  background: #000;
  width: 320px;
  height: 190px;
  border-radius: 8px;
  background: url("../../images/card\ background/cardBg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  perspective: 1000px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  padding: 18px;
}

.card-back-showcase {
  background: #000;
  width: 320px;
  height: 190px;
  border-radius: 8px;
  background: url("../../images/card\ background/cardBg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
  position: absolute;
  perspective: 1000px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  padding: 18px;
}

.chip-sticker-cardFront {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 18px;
  left: 18px;
  border-radius: 5px;
  overflow: hidden;
}

.chip-sticker-cardFront > img {
  width: 100%;
  height: 30px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.437));
}

.visa-logo-cardFront {
  width: 50px;
  position: absolute;
  top: 18px;
  right: 18px;
}

.visa-logo-cardFront > img {
  width: 100%;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.437));
}

.card-number-cardFront {
  width: 100%;
  display: flex;
  justify-content: space-around;
  word-spacing: 4px;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;
}
.card-number-cardFront > input {
  width: 64px;
  background: transparent;
  font-size: 20px;
  color: gray;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  background: url(../../images/card\ background/textBg.jpg);
  background-size: contain;
  -webkit-background-clip: text;
  color: transparent;
  border: 0;
  letter-spacing: 2px;
}

.card-holder-cardFront {
  position: absolute;
  bottom: 18px;
  left: 18px;
}

.card-holder-cardFront > h6 {
  background: url(../../images/card\ background/textBg.jpg);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 10px;
  letter-spacing: 1px;
}

.card-holder-cardFront > input {
  background: url(../../images/card\ background/textBg.jpg);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 5px;
  font-size: 16px;
  line-height: 18px;
  border: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card-expiry-cardFront {
  position: absolute;
  bottom: 18px;
  right: 18px;
}

.card-expiry-cardFront > h6 {
  background: url(../../images/card\ background/textBg.jpg);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 10px;
  letter-spacing: 1px;
  text-align: right;
}

.exp-input-field {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 51px;
  background: url(../../images/card\ background/textBg.jpg);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 16px;
  line-height: 18px;
  border: 0;
  letter-spacing: 1px;
}

.exp-input-field > input {
  width: 25px;
  background: url(../../images/card\ background/textBg.jpg);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 5px;
  font-size: 16px;
  line-height: 18px;
  border: 0;
  letter-spacing: 1px;
  text-align: center;
}

.card-back-showcase {
  position: relative;
}

.card-magneticLine-cardBack {
  width: 320px;
  height: 38px;
  position: absolute;
  left: 0;
  background: #202020;
  margin-top: 5px;
}

.card__secret--last {
  color: #303030;
  text-align: right;
  margin: 0;
  font-size: 14px;
}

.card__secret {
  padding: 5px 12px;
  background-color: #fff;
  position: relative;
  margin-top: 60px;
}

.card__secret:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% - 42px);
  border-radius: 4px;
  background: repeating-linear-gradient(
    45deg,
    #ededed,
    #ededed 5px,
    #f9f9f9 5px,
    #f9f9f9 10px
  );
}

.chip-sticker-cardBack {
  width: 40px;
  height: 30px;
  position: absolute;
  bottom: 18px;
  left: 18px;
  border-radius: 5px;
  overflow: hidden;
}

.chip-sticker-cardBack > img {
  width: 100%;
  height: 30px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.437));
}

.visa-logo-cardBack {
  width: 50px;
  position: absolute;
  bottom: 18px;
  right: 18px;
}

.visa-logo-cardBack > img {
  width: 100%;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.437));
}

.card-payment-intructions {
  width: 50%;
  height: 190px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.checkout-order-status {
  position: relative;
  height: 20vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.order-status-div-heading {
  position: absolute;
  top: 5%;
  left: 2%;
}

.order-status-div-heading > h3 {
  color: #353535;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

.order-status-view-div {
  color: #000;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  /* padding-top: 5%;
  padding-left: 15%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.checkout-order-summary {
  width: 30%;
  height: max-content;
  margin-left: 1%;
  background: #fff;
  box-shadow: 0.3rem 0.3rem 0.6rem #5a5a5a, -0.3rem -0.3rem 0.6rem #ffffff;
  padding: 0.5rem 1.5rem;
  position: sticky;
  top: 1rem;
}

.order-summary-heading > h2 {
  color: #353535;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5rem;
}

.items-summary > p {
  color: #000;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0;
}

.items-summary:hover > p > span:first-child {
  text-decoration: underline;
  cursor: pointer;
}

.summary-div-active-true {
  text-decoration: underline;
}

.order-bill > p {
  width: 100%;
  color: #000;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0;
}

#total-to-pay {
  border-top: 0.01rem solid #5a5a5a;
  padding-top: 0.1rem;
}

.left-side-of-order-summary {
  position: relative;
}

.rupee-symbol-order-page {
  position: absolute;
  left: -1.3rem;
  top: -0.05rem;
  color: #5a5a5a;
}

.order-bill {
  border-bottom: 0.01rem solid #5a5a5a;
}

.place-order-btn-checkoutPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.place-order-btn-checkoutPage > button {
  width: 100%;
  font-size: 1rem;
  color: #474747;
  background: #4747470a;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border: 1px solid #47474786;
  display: inline;
  cursor: pointer;
  transition: 0.2s all;
}

.place-order-btn-checkoutPage > button:hover {
  color: #353535;
  width: 99%;
  box-shadow: 0.05rem 0.05rem 0.1rem #474747;
}

.place-order-btn-checkoutPage > button:active {
  color: #353535;
  width: 99%;
  box-shadow: -0.05rem -0.05rem 0.1rem #474747;
}

.summary-product-container {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: summaryDivEntrance 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
  overflow: hidden;
}

#summary-exit-true{
  animation: summaryDivExit 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
  overflow: hidden;
}

.summary-product-main-contianer{
  width: 100%;
  height: 20rem;
  overflow-y: scroll;
}

.summary-product-image-container {
  width: 30%;
  height: 9.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  overflow: hidden;
}

.summary-product-image {
  width: 100%;
  border-radius: 0.6rem;
}

.summary-product-content {
  width: 70%;
  height: 9rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #000;
  font-family: "Josefin Sans", sans-serif;
}

.summary-product-name {
  color: #353535;
  font-family: "Montserrat", sans-serif;
}

.summary-product-totalAmount {
  position: relative;
}

.product-price-for-summary-product {
  padding-left: 0.8rem;
}

.rupee-symbol-for-summary-product {
  position: absolute;
  top: -0.05rem;
  color: #5a5a5a;
}

/* //////////////////////////////////////////////Animation//////////////////////////////////////// */

@keyframes itemHoverDiv {
  100% {
    opacity: 1;
  }
}

@keyframes summaryDivEntrance {
  0%{height: 0;}
}

@keyframes summaryDivExit {
  100%{
    height: 0;
  }
}

@keyframes fillingRange {
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}